<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../assets/stylesheets/style.css">
  <link rel="stylesheet" href="../../assets/stylesheets/reset.css">
  <title> Easters Bro. </title>
</head>
<body>
<!-- header -->
<header>
  <div class="heading">
    <div class ="title"> Easters Bro.</div>
  </div>
  <div class="navbar">
    <ul class ="nav-lists">
    <li>About</li>
    <li>Blog</li>
    <li>Instagram</li>
    <li>Login</li>
    <li>contact</li>
    </ul>
  </div>
</header>
<!-- header -->

</body>
</html>
